<h1>Edit Your Listing</h1>
<form method="post" action="/listings/<%= @listing.id%>/edit">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input id="title" type="text" value="<%=@listing.title%>" name="title">
    <input id="description" type="text" value="<%=@listing.description%>" name="description">
    <input id="price" type="number" value="<%=@listing.price%>" name="price">
    <select id="item" name="condition">
        <option value="new">New</option>
        <option value="used">Used</option>
    </select>
 </form>