<head>
<style>
div {
    background-color: white;
    # width: 500px;
    # height: 150px;
    text-align: center;
    margin: 100px;
}
body{
    background-color: teal;
}
</style>
</head>
<body>
<h1>Hello, Human!</h1>
<div>
<div class="container">
<h4>All Listings</h4>
<% if @listings.size > 0 %>
    <% @listings.each do |l|%>  
        <a href="/listings/<%=l.id%>"><%=l.title%></a>
        <br>
    <% end %>
<%else%> 
    <p> Empty,human...</p>
<%end%>
</div>
</body>



