<head>
<style>
div {
    background-color: white;
    width: 500px;
    height: 120px;
    text-align: center;
    margin: 100px;
}
body{
    background-color: teal;
}
</style>
</head>

<body>
<h1> Second Hand<br><small>The place to sell your things.</small></h1>
<div class="container">
<h2> Log In </h2>
<form method="post" action="/login">
<input type="email" name="email" placeholder="email">
<input type="password" name="password" placeholder="password">
<input type="submit" class="btn btn-primary" value="Submit">
<a href="/signup">Sign Up?</a>


</form>
</div>
</body>