<h1>Welcome to Second Hand!</h1>
<br>
<h4>A place where you can sell your things! How convenient!</h4>
<a href="/login">Would you like to login?</a>
<p> Or...</p>
<a href="/signup">You can create an account!</a>